<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">

  <title>{{ site.title }}</title>

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
  </body>

  {%- include header.html -%}

  <div style="left: 0vw;" class="side"></div>
  <div style="right: 0vw;" class="side"></div>
</html>
