---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  

  <div class="main-content">
    <div class="quote">My brain is open! - Paul Erdős</div>
    {{ content }}
  </div>

  {% assign posts = site.posts %}

  <ul class="post-list">
    <h2>Favourites</h2>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- assign favourite_posts = site.posts | where: "favourite", true | slice: 0, 5 -%}
    {%- for post in favourite_posts -%}
    <li>
      <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
      <h3>
        <a class="post-link" style="font-size: 20px" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
    </li>
    {%- endfor -%}
  </ul>

  {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
  {%- endif -%}

  <ul class="post-list">
    <h2>Most Recent</h2>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    {%- for post in posts limit:5 -%}
    <li>
      <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
      <h3>
        <a class="post-link" style="font-size: 20px" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
    </li>
    {%- endfor -%}
  </ul>
</div>
